.navbar{
    display:flex;
    height:4rem;
    background-color:beige;
    align-items:center;
    justify-content:flex-end;
}

.nav-list{
    list-style:none;
    display:flex;
}

.nav-item{
    padding:1rem;
    text-decoration:none;
    color:black;
    margin:0.5rem;
}

.nav-item:hover{
    transition:1s;
    background-color:orange;
    cursor:pointer;
}

/*mobile*/
.nav-mobile{
    height:100vh;
    width:33vw;
    background-color:beige;
    position:absolute;
    text-align:center;
}

.nav-list-mobile{
    list-style:none;
    display:flex;
    flex-direction:column;
    align-items:flex-start;
}

.nav-item-mobile{
    padding:1rem;
    margin:auto;
    text-decoration:none;
    color:black;
}