.navbar{
    display:flex;
    height:4rem;
    background-color:beige;
    align-items:center;
    justify-content:flex-end;
    border-color:orange;
}

.nav-list{
    list-style:none;
    display:flex;
}

.nav-item{
    padding:1rem;
    text-decoration:none;
    color:black;
    margin:0.5rem;
}

.nav-item:hover{
    transition:1s;
    background-color:orange;
    cursor:pointer;
}

/*mobile*/
.nav-mobile{
    height:100vh;
    width:33vw;
    background-color:beige;
    position:fixed;
}

.nav-list-mobile{
    list-style:none;
    display:flex;
    flex-direction:column;
    text-align:center;
    padding:0;
}

.nav-item-mobile{
    text-decoration:none;
    padding:1rem;
    margin-bottom:0.5rem;
}

.nav-item-mobile:active{
    background-color:orange;
}

.nav-button{
    position:absolute;
}

.nothing{
    visibility:hidden;
}

.nav-mobile-header{
    height:3rem;
    background-color:violet;
}

.style-none{
    all:unset;
}