.recipe-body{
    display:grid;
    height:5rem;
    grid-template-columns:1fr 1fr;
}

.recipe-text{
    text-align:center;
    background:blue;
}

.recipe-image{
    text-align:center;
    background:red;
    object-fit:fill;
}