.recipe-body{
    display:grid;
    grid-template-columns:1fr 1fr;
}

.recipe-text{
    text-align:center;
    background:blue;
    height:20rem;
}

.recipe-image-box{
    text-align:center;
    background:red;
    height:20rem;
    background-size:contain;
}

.recipe-image{
    max-height:100%;
}

/*mobile*/
.recipe-body-mobile{
    display:grid;
    grid-template-columns:1fr;
}