.recipe-body{
    display:grid;
    grid-template-columns:repeat(2,50vw);
}

.recipe-text{
    text-align:center;
    background:#EEB69E;
    /*overflow:hidden;*/
}

.recipe-image-box{
    text-align:center;
    background:#9EEEB6;
    display:grid;
    grid-template-columns:1 100vw;
    place-items:center;
    padding-top:0.5rem;
    padding-bottom:0.5rem;
    /*overflow:hidden;*/
}

.recipe-image{
    width:90%;
    height:auto;
    justify-self:center;
    border-radius:10%;
}

/*.recipe-list{
    list-style:none;
    border:1px solid yellow;
    margin:auto;
    width:100%;
    text-align:center;
}*/

.recipe-list-item{
    text-align:center;
    /*border:1px solid black;*/
}

.recipe-second-drop{
    width:95%;
    margin-right:0;
    margin-left:auto;
    text-align:left;
    /*border:1px solid black;*/
}

.recipe-dropdown{
    width:80%;
    margin:auto;
    /*(border:1px solid green;*/
    text-align:left;
}

/*mobile*/
.recipe-body-mobile{
    display:grid;
    grid-template-columns:1fr;
}

.recipe-text-mobile{
    text-align:center;
    background:#EEB69E;
    min-height:20rem;
    overflow:hidden;
    align-items:center;
}

.recipe-image-box-mobile{
    text-align:center;
    background:red;
    min-height:20rem;
    overflow:hidden;
    background-size:contain;
}

.recipe-list-mobile{
    list-style:none;
    /*border:1px solid yellow;*/
    margin:auto;
    width:100%;
    text-align:center;
}

.recipe-list-item-mobile{
    text-align:center;
    /*border:1px solid black;*/
}

.recipe-second-drop-mobile{
    width:95%;
    margin-right:0;
    margin-left:auto;
    text-align:left;
    /*border:1px solid black;*/
}

.recipe-dropdown-mobile{
    width:80%;
    /*border:1px solid green;*/
    text-align:left;
    background-color:grey;
    margin-left:auto;
    margin-right:auto;
    margin-top:0.5rem;
    margin-bottom:0.5rem;
    border-radius:5%;
    padding-left:0.5rem;
    padding-right:0.5rem;
}